.button {
    padding: 10px;
    border: 0 none; 
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 100;
}

.button:hover {
    cursor: pointer;
    /* transform: translate(0, -3px); */
}